# Secrets
backend/config.py
.env

# Database
budget.db
*.db

# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
.venv/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

WPR week_1.pdf
WPR week_2.pdf
WPR week_3.pdf
WPR week_4.pdf
image_2.webp
transaction_table.pdf
pdf_to_csv.py